[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
